<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOICPWKY0Xucdn7yEzY6i6hyCiXGvaVsc</string>
	<key>GCM_SENDER_ID</key>
	<string>110804898715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aydinkaya.ARInventory</string>
	<key>PROJECT_ID</key>
	<string>arinventory-bbf3f</string>
	<key>STORAGE_BUCKET</key>
	<string>arinventory-bbf3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110804898715:ios:aaa825738a9ff44cc5073e</string>
</dict>
</plist>